<div class="container">
    <h3>Contact us</h3>

    <div class="row mt-4 bg-light">
        <div class="col m-3">
            <div class="row">
                <h5>Need more information?</h5>
            </div>
            <div class="row">
                <p>
                    We are swiftly working our way through your requests. In the meantime, take a look at our <a class="text-black-50" href="@Url.Action("Index", "CustomerSupport", new {viewToRender = "_FAQ" })"><u>FAQs</u></a> to see if your answer is there.
                </p>
            </div>
        </div>
    </div>


    <div class="row pt-2">
        <div class="col bg-light mr-2">
            <div class="row m-3">
                <h5>Phone</h5>
                <p style="font-size: .8rem">+44 (0) 20 3962 2362 (Available Monday to Friday 8am-11pm GMT and Saturday to Sunday 9am-9pm GMT).</p>
            </div>
        </div>
        <div class="col bg-light">
            <div class="row  m-3">
                <h5>FAQ</h5>
                <p>Find the answer you need in our <a class="text-black-50" href="@Url.Action("Index", "CustomerSupport", new {viewToRender = "_FAQ" })"><u>FAQs</u></a> section.</p>
            </div>
        </div>
        <div class="col bg-light ml-2">
            <div class="row  m-3">
                <h5>Contact Us</h5>
                <p>Want to get in touch with our teams? Scroll down to the bottom of this page for more details.</p>
            </div>
        </div>
    </div>



</div>
