
<div class="container">
    <h3>ORDERS & SHIPPING</h3>

    <div class="accordion mt-5" id="accordionExample">


        <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        SHIPPING
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <h6 class="font-weight-bold">Shipping Information</h6>

                    <p>
                        @Resources.Global.APP_NAME orders are delivered Monday to Friday between 9am and 5pm. As every order is unique, shipping costs will vary depending on the size, weight and destination of your chosen items. For those last minute purchases, Express delivery is available to most destinations and Same Day delivery is offered in selected cities.
                    </p>

                    <p>
                        Depending on your location, we also offer a Flat Shipping Fee for orders above the following thresholds: 150 GBP, 250 USD, 200 EUR, 300 AUD, 300 CAD, 15000 RUB, 28000 JPY, 1500 CNY, 280000 KRW, 350 SGD, 150 CHF, 2500 MXN, 2000 HKD and 580 BRL.
                    </p>

                    <h6 class="font-weight-bold">EUROPE</h6>

                    <ul class="pt-3">
                        <li>
                            United Kingdom: 150 GBP
                        </li>
                        <li>
                            Spain, Netherlands, Italy, Germany, France: 200 EUR
                        </li>
                        <li>
                            Sweden: 1340 SEK
                        </li>
                        <li>
                            Denmark: 1050 DKK
                        </li>
                        <li>
                            Romania: 220 EUR
                        </li>
                        <li>
                            Switzerland: 150 CHF
                        </li>
                        <li>
                            Rest of Europe: 140 EUR
                        </li>
                    </ul>

                    <h6 class="font-weight-bold">ASIA</h6>

                    <ul class="pt-3">
                        <li>
                            China, Mainland: 1500 CNY
                        </li>
                        <li>
                            Hong Kong: 2000 HKD
                        </li>
                        <li>
                            Taiwan, Macau: 150 USD
                        </li>
                        <li>
                            Japan: 28000 JPY
                        </li>
                        <li>
                            Russia: 17500 RUB
                        </li>
                        <li>
                            Republic of Korea: 280000 KRW
                        </li>
                        <li>
                            Singapore: 350 SGD
                        </li>
                        <li>
                            Kuwait, Saudi Arabia, UAE: 250 USD
                        </li>
                        <li>
                            Rest of Middle East: 150 USD
                        </li>
                    </ul>

                    <h6 class="font-weight-bold">AMERICAS</h6>

                    <ul class="pt-3">
                        <li>
                            Canada: 300 CAD
                        </li>
                        <li>
                            United States: 250 USD

                        </li>
                        <li>
                            Mexico: 2500 MXN
                        </li>
                        <li>
                            Brazil: 580 BRL
                        </li>

                    </ul>

                    <h6 class="font-weight-bold">OCEANIA</h6>

                    <ul class="pt-3">
                        <li>
                            Australia: 300 AUD
                        </li>
                    </ul>


                    <p>
                        This means you can purchase multiple pieces from multiple locations for one shipping fee. The amount of the Flat Shipping Fee is based on the lowest price shipping option available for the item in your order, which travels the farthest to reach you.
                    </p>

                    <p>
                        All relevant delivery options available for your order and to your destination will be displayed at checkout.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        DUTIES & TAXES
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        SAME DAY DELIVERY
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        ORDER TRACKING
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        CANCELLATIONS
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        CUSTOMISED ITEMS
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>




    </div>
</div>
